{% extends 'main.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form class="form-horizontal" method = "POST">
                {% csrf_token %}
                <div class="card-body">

                    <h3 class="card-title">Information sur la collecte</h3>
                    <div class="form-row my-2">
                        <div class="form-group col-md-12">
                            <label for="date">Date de la collecte</label>
                            <input type="text" disabled value="{{collect.date}}" class="form-control" id="solaire" placeholder="Solaire">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="date">Agent</label>
                            <input type="text" disabled value="{{collect.agent.username}}" class="form-control" id="solaire" placeholder="Solaire">
                        </div>
                    </div>
                    <div class="form-row my-2">
                        <div class="form-group col-md-12">
                            <label for="date">Unité de production</label>
                            <input type="text" disabled value="{{collect.site}}" class="form-control" id="solaire" placeholder="Solaire">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="date">Index actuel</label>
                            <input type="text" disabled value="{{collect.index}}" class="form-control" id="solaire" placeholder="Solaire">
                        </div>
                    </div>
                    <div class="form-row my-2">
                        {% if collect.solaire is not None %}
                        <div class="form-group col-md-12">
                            <label for="date">Solaire</label>
                            <input type="text" disabled value="{{collect.solaire}}" class="form-control" id="solaire" placeholder="Solaire">
                        </div> 
                        {% endif %}
                        {% if collect.groupe_electro is not None %}
                        <div class="form-group col-md-12">
                            <label for="date">Groupe electrogène</label>
                            <input type="text" disabled value="{{collect.groupe_electro}}" class="form-control" id="" placeholder="">
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-row my-2">
                        {% if collect.sbee is not None %}
                        <div class="form-group col-md-12">
                            <label for="date">SBEE</label>
                            <input type="text" disabled value="{{collect.sbee}}" class="form-control" id="" placeholder="Sbee">
                        </div> 
                        {% endif %}
                        {% if collect.observation is not None %}
                        <div class="form-group col-md-12">
                            <label for="date">Observation</label>
                            <input type="text" disabled value="{{collect.observation}}" class="form-control" id="" placeholder="">
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-row my-2">
                        {% if collect.nbre_panne is not None %}
                        <div class="form-group col-md-12">
                            <label for="date">Nombre de panne</label>
                            <input type="text" disabled value="{{collect.nbre_panne}}" class="form-control" id="" placeholder="Nombre de panne">
                        </div> 
                        {% endif %}
                        {% if collect.description_panne is not None %}
                        <div class="form-group col-md-12">
                            <label for="date">Description des pannes</label>
                            <input type="text" disabled value="{{collect.description_panne}}" class="form-control" id="" placeholder="">
                        </div>
                        {% endif %}
                        {% if collect.autres is not None %}
                        <div class="form-group col-md-12">
                            <label for="date">Autres détails</label>
                            <input type="text" disabled value="{{collect.autres}}" class="form-control" id="" placeholder="">
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        <h3>Qualité de l'eau</h3>
                    </div>
                    <div class="form-row my-2">
                        {% if collect.water_quality.ph_in_site is not None %}
                        <div class="form-group col-md-6">
                            <label for="date">PH sur site</label>
                            <input type="text" disabled value="{{collect.water_quality.ph_in_site}}" class="form-control" id="solaire" placeholder="Solaire">
                        </div>
                        {% endif %}
                        {% if collect.water_quality.ph_out_site is not None %}
                        <div class="form-group col-md-6">
                            <label for="date">PH hors site</label>
                            <input type="text" disabled value="{{collect.water_quality.ph_out_site}}" class="form-control" id="" placeholder="">
                        </div>
                        {% endif %}
                        <div class="form-group col-md-6">
                            <label for="date">Taux de conformité ph sur site</label>
                            <input type="text" disabled value="{{tauxph}} %" class="form-control" id="" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="date">Taux de conformité hors site</label>
                            <input type="text" disabled value="{{tauxph_out}} %" class="form-control" id="" placeholder="">
                        </div>
                        {% if collect.water_quality.humidity_in_site is not None %}
                        <div class="form-group col-md-6">
                            <label for="date">Humidité sur site</label>
                            <input type="text" disabled value="{{collect.water_quality.humidity_in_site}}" class="form-control" id="" placeholder="">
                        </div>
                        {% endif %}
                        {% if collect.water_quality.humidity_out_site is not None %}
                        <div class="form-group col-md-6">
                            <label for="date">Humidité hors site</label>
                            <input type="text" disabled value="{{collect.water_quality.humidity_out_site}}" class="form-control" id="" placeholder="">
                        </div>
                        {% endif %}
                        <div class="form-group col-md-6">
                            <label for="date">Taux de conformité humidité sur site</label>
                            <input type="text" disabled value="{{tauxhumidity}} %" class="form-control" id="" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="date">Taux de conformité humidité hors site</label>
                            <input type="text" disabled value="{{tauxhumidity_out}} %" class="form-control" id="" placeholder="">
                        </div>
                        {% if collect.water_quality.chlore_in_site is not None %}
                        <div class="form-group col-md-6">
                            <label for="date">Chlore sur site</label>
                            <input type="text" disabled value="{{collect.water_quality.chlore_in_site}}" class="form-control" id="" placeholder="">
                        </div>
                        {% endif %}
                        {% if collect.water_quality.chlore_out_site  is not None %}
                        <div class="form-group col-md-6">
                            <label for="date">Chlore hors site</label>
                            <input type="text" disabled value="{{collect.water_quality.chlore_out_site}}" class="form-control" id="" placeholder="">
                        </div>
                        {% endif %}
                        <div class="form-group col-md-6">
                            <label for="date">Taux de conformité de chlore sur site</label>
                            <input type="text" disabled value="{{tauxchlore}} %" class="form-control" id="" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="date">Taux de conformité de chlore hors site</label>
                            <input type="text" disabled value="{{tauxchlore_out}} %" class="form-control" id="" placeholder="">
                        </div>

                        
                    </div>
                    {% if collect.observation is not None %}
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Observation</label>
                        <div class="col-sm-7">
                            <textarea disabled class="form-control" id="Observation">{{collect.observation}}</textarea>
                        </div>
                    </div>
                    {% endif %}
                    {% if collect.nbre_panne is not None %}
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Nombre de panne</label>
                        <div class="col-sm-7">
                            <input type="text" disabled value="{{collect.nbre_panne}}" class="form-control mb-2" id="nbrepanne" placeholder="Nombre de panne">
                            <textarea disabled class="form-control disabled" id="pannedesc">{{collect.description_panne}}</textarea>
                        </div>
                    </div>
                    {% endif %}
                    {% if collect.production_estimer is not None %}
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Production estimée</label>
                        <div class="col-sm-7">
                            <input type="text" disabled value="{{collect.production_estimer}}" class="form-control" id="prod" placeholder="Production estimiée">
                        </div>
                    </div>
                    {% endif %}
                   
            </form>
        </div>
    </div>
</div>
{% endblock content %}