{% extends 'main.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form method ="POST" class="form-horizontal" id="formAdd">
                {% csrf_token %}
                <div class="card-body">
                    <h4 class="card-title">Information sur l'unité de production</h4>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Agence</label>
                        <div class="col-md-9">
                            <select name="agence" id="agence" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                <option>Selectionner</option>
                                {% for agence in agences %}
                                    <option value="{{agence.id}}">{{agence.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Département</label>
                        <div class="col-md-9">
                            <select name="departement" id="departement_options" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                
                            </select>
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Commune</label>
                        <div class="col-md-9">
                            <select name="commune" id="commune_options" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Nom</label>
                        <div class="col-sm-9">
                            <input type="text" name="title" class="form-control" id="fname" placeholder="Nom du site">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Adresse</label>
                        <div class="col-sm-9">
                            <input type="text" name="adresse" class="form-control" id="lname" placeholder="Adresse">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascript %}
<script>
    $(document).ready(function() {
        $('#agence').change(function() {
            var selectedAgenceId = $(this).val();
            console.log(selectedAgenceId);

            // Make AJAX request to get options for the second select field
            $.ajax({
                url: 'get-departement/' + selectedAgenceId,
                dataType: 'json',
                success: function(response) {
                    var options = response.data;

                    // Clear previous options
                    $('#departement_options').empty();

                    // Append new options
                    $.each(options, function(index, option) {
                        $('#departement_options').append($('<option></option>').text('Sélectionner un département'));
                        $('#departement_options').append($('<option></option>').attr('value', option).text(option));
                    });
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

<script>
    //script to get commune filter by departement
    $(document).ready(function() {
        $('#departement_options').change(function() {
            var selectedDepartmentId = $(this).val();
            console.log(selectedDepartmentId);

            // Make AJAX request to get options for the second select field
            $.ajax({
                url: 'get-communes/' + selectedDepartmentId,
                dataType: 'json',
                success: function(response) {
                    var options = response.communesList;
                    
                    // Clear previous options
                    $('#commune_options').empty();
                    console.log('je suis là')
                    // Append new options
                    $.each(options, function(index, option) {
                        console.log('je suis là désormais')
                        $('#commune_options').append($('<option></option>').attr('value', option.id).text(option.name));
                    });
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });

</script>
{% endblock %}